html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Style for the table */
/*.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}*/

    /* Style for the table header */
    /*.table thead {
        background-color: #ddd;
    }

    .table th, .table td {
        padding: 8px;
        text-align: left;
    }*/

    /* Style for the table rows */
    /*.table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }*/

    /* Style for the movie image */
    /*.table td img {
        max-width: 100%;
        height: auto;
    }*/

    /* Style for the "Details" link */
    /*.table td a {
        color: #337ab7;
        text-decoration: none;
    }

.table td a:hover {
    text-decoration: underline;
}*/
/* Style for the table */
.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    animation: fadein 1s;
}

    /* Style for the table header */
    .table thead {
        background-color: #4CAF50;
        color: white;
    }

    .table th, .table td {
        padding: 8px;
        text-align: left;
    }

    /* Style for the table rows */
    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /*.table tbody tr:hover {
        background-color: #e0e0e0;
    }*/

    /* Style for the movie image */
    .table td img {
        max-width: 100%;
        height: auto;
    }

    /* Style for the "Details" link */
    .table td a {
        color: #337ab7;
        text-decoration: none;
    }

        .table td a:hover {
            text-decoration: underline;
        }

/* Animation for the table */
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/*home page Details*/


